.container {
    width: 600px;
    margin: 0 auto;
    font-family: monospace;
}

.title {
    width: 600px;
    background-color: black;
    color: white;
    padding: 10px;
}

.header {
    text-align: center;
}

.main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.left {
    display: block;
    text-align: center;
    border-style: solid;
    padding: 10px;
    margin-top: 5px;
    margin-right: 10px;
    flex: 1;
}

.avatar {
    width: 100px;
}

.user-name {
    font-size: large;
}

.right {
    flex: 3;
}

.box-1, .box-2, .box-3 {
    border-style: solid;
    padding: 10px;
    margin: 5px 0px 5px 5px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.like {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.like-btn {
    background-color: gold;
    padding: 10px;
    margin-left: 30px;
}

.text {
    text-align: left;
}